/* применение ко всем элементам */
* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

body, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* имя тега */
h1 {
    color: red;
}

/* имя класса */
.heading {
    /* color: blue; */
}

.center-cnt {
    /* выравнивание текста по центру */
    text-align: center;
    color: grey;
}

.nav-list {
    /* делаем flex дисплей для внутренних 
    элементов списка */
    display: flex;

    /* отображаем и в ряд(row) */
    flex-direction: row;
}

.nav-list > li > a {
    color: #fff;
}

.nav-list li:not(:nth-child(3)) {
    margin-right: 10px;
}

.header {
    display: flex;
    background-color: #000;
    height: 80px;
}

.empty-cnt {
    flex: 1;
}

.logo {
    max-height: 100%;
    max-width: 100%;
}