/* применение ко всем элементам */
* {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

body, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* имя тега */
h1 {
    color: red;
}

/* имя класса */
.heading {
    /* color: blue; */
}

.center-cnt {
    /* выравнивание текста по центру */
    text-align: center;
    color: grey;
}

.nav-list {
    /* делаем flex дисплей для внутренних 
    элементов списка */
    display: flex;

    /* отображаем и в ряд(row) */
    flex-direction: row;
    height: 100%;
}

.nav-list > li > a {
    color: #fff;
}

.nav-list li:not(:nth-child(3)) {
    margin-right: 30px;
    border-right: 1px solid rgb(88, 88, 88);
    padding-right: 30px;
}

.header {
    display: flex;
    background-color: #999;
    height: 80px;
}

.empty-cnt {
    flex: 1;
}

.logo {
    max-height: 100%;
    max-width: 100%;
}

.navbar-link {
    line-height: 80px;
}

.style-cnt {
    font-size: 30px;
}

.typography {
    font-size: 12px;
    font-weight: 600;
}

.section {
    width: 1200px;
    margin: 0 auto;
}


.img-cnt {
    background: url(./img/img1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 50%; */
    width: 50%;
    height: 100%;
}

.text-cnt-right {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-section {
    height: 500px
}